<main class="main-content">
    <div class="container">
        <div class="welcome-section fade-in-up">
            <h1>Bem-vindo ao Diário de Viagens</h1>
            <p>Documente suas aventuras e explore novos destinos.</p>
        </div>


            <div class="feature-card fade-in-up" routerLink="/nova-viagem" style="cursor: pointer;">
                <div class="feature-icon">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <h3>Nova Viagem</h3>
                <p>Documente uma nova aventura com notas e localizações.</p>
            </div>

            <div class="feature-card fade-in-up" routerLink="/viagens" style="cursor: pointer;">
                <div class="feature-icon">
                    <i class="fas fa-list"></i>
                </div>
                <h3>Listar Viagens</h3>
                <p>Visualize todas as suas viagens.</p>
            </div>
        </div>
    
</main>